*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-conversor {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: 0;
    margin-left: 35%;
    height: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    background: rgb(74, 157, 163);
}
.contenedor-conversor h2{
    color: rgb(17, 75, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-stretch: expanded;
    background: rgb(133, 168, 177);
    border: 2px solid rgb(4, 39, 78);
    border-radius: 5px;
    padding: 3px;
}
.contenedor-conversor input[type="number"]{
    height: 30px;
    border-radius: 0px 15px 15px 0px;
    font-size: 22px;
    color: rgb(8, 95, 76);
}
.contenedor-conversor select{
    height: 30px;
    font-size: 22px;
    border-radius: 0px;
    background-color:rgb(8, 95, 76);;
    color: white;
    border: 1px solid white;
}
.contenedor-conversor #btn-convertir{
    height: 30px;
    background: rgb(80, 17, 17);
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transition: 0.2s;
}
.contenedor-conversor #btn-convertir:hover{
    height: 30px;
    background: rgb(117, 31, 31);
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    transform: scale(1.05);
}
#resultado{
    background: rgb(11, 100, 56);
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 2px;
}
@media screen and (max-width:1100px){
    body{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .contenedor-conversor{
        display: grid;
        width: 100%;
        margin: 0;
        height: 500px;
    }
}